.card {
  box-sizing: border-box;
  display: inline-block;
  background-color: rgba(255, 158, 236, 0.41);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.grow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.grow:hover,
.grow:focus {
  transform: scale(1.05);
}
/*  @media screen and (max-width: 400px) {
    width: 50vw;
  } */

.text {
  font-size: 12px;
  text-overflow: clip;
  word-wrap: inherit;
}
