.title {
  display: block;
  width: 100vw;
  height: 1rem;
  box-sizing: border-box;
  line-height: 1.15;
  font-display: swap;
  font-family: 'Permanent Marker', cursive;
  font-weight: 700;
  letter-spacing: 0.75rem;
  font-size: 3rem;
  color: #ff9eec;
  margin-bottom: 0.67em 0px;
  margin-top: 0.5rem;
}
